<div class="bg-gray-900 min-h-screen py-6 px-2" *ngIf="genresWithMovies$ | async as genresWithMovies; else loading">
  <div *ngFor="let item of genresWithMovies" class="mb-8">
    <h3
      class="text-2xl font-bold text-red-400 mb-2 mt-6 pl-2 border-l-4 border-red-500 bg-gray-800 bg-opacity-95 rounded shadow tracking-wide"
    >
      {{ item.genre.name }}
    </h3>
    <div *ngIf="item.movies.length; else noMovies">
      <div
        class="flex overflow-x-hidden hover:overflow-x-auto overflow-y-hidden whitespace-nowrap space-x-4 py-4 px-2 bg-gray-800 bg-opacity-90 rounded shadow-inner scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900"
      >
        <div
          *ngFor="let movie of item.movies"
          data-aos="fade-up"
          data-aos-once="true"
          class="inline-block"
        >
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      </div>
    </div>
    <ng-template #noMovies>
      <div class="text-gray-400 italic px-2 py-4 bg-gray-800 bg-opacity-80 rounded">No movies found for this genre.</div>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <div class="text-center text-white py-10">Loading...</div>
</ng-template>

