<!-- عرض الأفلام -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <app-movie-card
    *ngFor="let movie of movies"
    [movie]="movie"
    (cardClicked)="goToDetails($event)"
  ></app-movie-card>
</div>

<div class="flex justify-center items-center text-black gap-2 mt-6 flex-wrap">
  <button
    class="px-3 py-1 rounded bg-gray-200 hover:bg-blue-400"
    [disabled]="currentPage === 1"
    (click)="goToPage(currentPage - 1)"
  >
    &laquo;
  </button>

  <button
    *ngFor="let page of paginationRange"
    class="px-3 py-1 rounded bg-gray-200 hover:bg-blue-400"
    [class.bg-blue-600]="page === currentPage"
    [class.text-white]="page === currentPage"
    (click)="goToPage(page)"
  >
    {{ page }}
  </button>

  <button
    class="px-3 py-1 rounded bg-gray-200 hover:bg-blue-400"
    [disabled]="currentPage === totalPages"
    (click)="goToPage(currentPage + 1)"
  >
    &raquo;
  </button>
</div>
